<header id="navbar" class="fixed top-0 w-full z-50 activeNavBar">
  <nav class="mx-auto w-full z-50">
    <div
      class="py-3 px-2 flex items-center justify-center mx-auto max-w-screen-md lg:max-w-screen-xl xl:max-w-screen-xl 2xl:max-w-screen-2xl"
    >
      <div class="mr-auto flex self-center">
        <a href="/">
          <img src="assets/logo.png" class="w-32" alt="" />
        </a>
      </div>
      <div class="flex lg:hidden">
        <div>
          <span
            class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorPrimary"
            tabindex="0"
            role="button"
            aria-disabled="false"
            aria-label="upload picture"
            ><span class="MuiIconButton-label"
              ><svg
                stroke="currentColor"
                fill="none"
                stroke-width="2"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
                color="black"
                style="color: black"
                height="24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line></svg></span
            ><span class="MuiTouchRipple-root"></span
          ></span>
        </div>
      </div>
      <div class="hidden lg:flex">
        <ul class="flex flex-row space-x-5 justify-center">
          <div class="relative">
            <button
              id="headlessui-popover-button-2"
              type="button"
              aria-expanded="false"
            >
              <div
                class="border-b-4 border-transparent 2xl:text-base text-xs xl:text-sm text-center decoration-none font-bold rounded-t-xl text-gray-800 px-3 py-2 hover:bg-secondaryColor hover:border-primaryColor self-center mx-auto"
              >
                Home
              </div>
            </button>
          </div>
          <div class="relative">
            <button
              id="headlessui-popover-button-2"
              type="button"
              aria-expanded="false"
            >
              <div
                class="border-b-4 border-transparent 2xl:text-base text-xs xl:text-sm text-center decoration-none font-bold rounded-t-xl text-gray-800 px-3 py-2 hover:bg-secondaryColor hover:border-primaryColor self-center mx-auto"
              >
                About
              </div>
            </button>
          </div>
          <div class="relative">
            <button
              id="headlessui-popover-button-8"
              type="button"
              aria-expanded="false"
            >
              <div
                class="border-b-4 border-transparent 2xl:text-base text-xs xl:text-sm text-center decoration-none font-bold rounded-t-xl text-gray-800 px-3 py-2 hover:bg-secondaryColor hover:border-primaryColor self-center mx-auto"
              >
                Services
              </div>
            </button>
          </div>
          <div class="relative">
            <button
              id="headlessui-popover-button-11"
              type="button"
              aria-expanded="false"
            >
              <div
                class="border-b-4 border-transparent 2xl:text-base text-xs xl:text-sm text-center decoration-none font-bold rounded-t-xl text-gray-800 px-3 py-2 hover:bg-secondaryColor hover:border-primaryColor self-center mx-auto"
              >
                Reviews
              </div>
            </button>
          </div>
          <div class="relative">
            <button
              id="headlessui-popover-button-11"
              type="button"
              aria-expanded="false"
            >
              <div
                class="border-b-4 border-transparent 2xl:text-base text-xs xl:text-sm text-center decoration-none font-bold rounded-t-xl text-gray-800 px-3 py-2 hover:bg-secondaryColor hover:border-primaryColor self-center mx-auto"
              >
                Contact
              </div>
            </button>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
