<header id="navbar" class="fixed top-0 w-full z-50 activeNavBar">
  <nav class="mx-auto w-full z-50">
    <div
      class="py-3 px-2 flex items-center justify-start mx-auto max-w-screen-md lg:max-w-screen-xl xl:max-w-screen-xl 2xl:max-w-screen-2xl"
    >
      <div class="mr-auto flex self-center">
        <a href="/">
          <img src="assets/logo.png" class="w-32" alt="" />
        </a>
      </div>
      <input type="checkbox" id="active" />
      <label for="active" class="menu-btn">
        <fa-icon [icon]="faBars"></fa-icon>
      </label>
      <div class="wrapper">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/reviews">Reviews</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
